/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {

    apptainer {
        apptainer.enabled = true
    }

    singularity {
        singularity.enabled = true
    }

    docker {
        docker.enabled = true
    }
    
}

params {
    //modules_testdata_base_path = 'https://github.com/nf-core/test-datasets/raw/modules/data/'
    modules_testdata_base_path = "$baseDir/tests/data/"
}

process {
    withName: 'MULTIQC' {
        ext.prefix = null
        ext.singularity_pull_docker_container = false
    }
}
