profiles {

  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u 1001:1001"
    //docker.userEmulation = true
  }

  podman {
    podman.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

  apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
  }
}

